.header__lang-link {
    width: 22px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .header__lang-link {
        width: 30px;
        height: 28px;
        font-size: 24px;
        line-height: 28px;
    }
}