.header__lang-link {
    width: 22px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang-link:active {
    text-decoration-line: underline;
}