.footer__container {
    display: flex;
    flex-direction: column;
    width: 186px;
    min-height: calc(310px - 14px - 48px);
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .footer__container {
        flex-direction: row;
        justify-content: flex-start;
        min-height: 18px;
        width: calc(100% - 160px);
    }
}