.footer__link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-decoration: none;
    padding-bottom: 32px;
}

.footer__link:last-of-type {
    padding-bottom: 0px;
}

@media screen and (min-width:768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
        margin-right: 18px;
        padding-bottom: 0px;
    }
    .footer__link:last-of-type {
        margin-right: 0px;
    }
}