.place__paragraph {
    padding: 32px 16px 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
}

.place__paragraph:last-of-type {
    padding-top: 25px;
}

@media screen and (min-width:768px) {
    .place__paragraph {
        padding: 0;
    }
}

@media screen and (min-width:1024px) {
    .place__paragraph {
        font-size: 18px;
    }
}