.lead__image {
    width: 100%;
    padding-top: 40px;
}

@media screen and (min-width:768px) {
    .lead__image {
        padding-top: 56px;
    }
}

@media screen and (min-width:1024px) {
    .lead__image {
        height: 580px;
    }
}

@media screen and (min-width:1280px) {
    .lead__image {
        width: 984px;
        height: 615px;
        padding-top: 64px;
    }
}