.intro {
    padding: 64px 16px 0;
}

@media screen and (min-width:768px) {
    .intro {
        padding: 88px 24px 0;
    }
}

@media screen and (min-width:1024px) {
    .intro {
        padding: 92px 286px 0 48px;
    }
}

@media screen and (min-width:1280px) {
    .intro {
        padding: 92px 442px 0 148px;
    }
}