.footer__nav {
    display: flex;
    flex-direction: column;
    width: 186px;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .footer__nav {
        flex-direction: row;
        width: 100%;
    }
}